@model APMS.Models.Transaction

@{
    ViewData["Title"] = "Theo dõi xe vào ra";
}

<h1>Theo dõi xe vào ra</h1>

<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TransactionId" />
            <div class="form-group">
                <label asp-for="VehicleId" class="control-label"></label>
                <select asp-for="VehicleId" class="form-control" asp-items="ViewBag.VehicleId"></select>
                <span asp-validation-for="VehicleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkingSlotId" class="control-label"></label>
                <select asp-for="ParkingSlotId" class="form-control" asp-items="ViewBag.ParkingSlotId"></select>
                <span asp-validation-for="ParkingSlotId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntryTime" class="control-label"></label>
                <input asp-for="EntryTime" class="form-control" />
                <span asp-validation-for="EntryTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExitTime" class="control-label"></label>
                <input asp-for="ExitTime" class="form-control" />
                <span asp-validation-for="ExitTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<p></p>
<div>
    <a asp-action="Index">Back to List</a>
</div>

