USE [master]
GO
/****** Object:  Database [APMS]    Script Date: 3/30/2025 3:36:57 PM ******/
CREATE DATABASE [APMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'APMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\APMS.mdf' , SIZE = 11264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'APMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\APMS_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [APMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [APMS]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/30/2025 3:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 3/30/2025 3:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 3/30/2025 3:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 3/30/2025 3:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 3/30/2025 3:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 3/30/2025 3:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 3/30/2025 3:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [sql_variant] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 3/30/2025 3:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ParkingAvailabilities]    Script Date: 3/30/2025 3:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingAvailabilities](
	[Id] [int] NOT NULL,
	[TotalSlots] [int] NOT NULL,
	[AvailableSlots] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ParkingSlots]    Script Date: 3/30/2025 3:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingSlots](
	[ParkingSlotId] [int] NOT NULL,
	[SlotNumber] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tariff]    Script Date: 3/30/2025 3:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tariff](
	[TariffId] [int] NOT NULL,
	[TariffName] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 3/30/2025 3:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionId] [int] NOT NULL,
	[VehicleId] [int] NOT NULL,
	[ParkingSlotId] [int] NOT NULL,
	[EntryTime] [smalldatetime] NOT NULL,
	[ExitTime] [smalldatetime] NULL,
	[TotalAmount] [decimal](18, 2) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserPayments]    Script Date: 3/30/2025 3:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPayments](
	[Id] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[TariffId] [int] NOT NULL,
	[PaymentDate] [smalldatetime] NOT NULL,
	[Amount] [real] NOT NULL,
	[IsPaid] [bit] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/30/2025 3:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[Balance] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 3/30/2025 3:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleId] [int] NOT NULL,
	[LicensePlate] [nvarchar](max) NOT NULL,
	[UserId] [int] NOT NULL,
	[VehicleTypeId] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VehicleTypes]    Script Date: 3/30/2025 3:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleTypes](
	[VehicleTypeId] [int] NOT NULL,
	[TypeName] [nvarchar](max) NOT NULL,
	[DescriptionImage] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250323083756_a', N'8.0.13')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250323090544_iden', N'8.0.13')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250323135341_abc', N'8.0.13')
INSERT [dbo].[ParkingAvailabilities] ([Id], [TotalSlots], [AvailableSlots]) VALUES (1, 120, 100)
INSERT [dbo].[ParkingSlots] ([ParkingSlotId], [SlotNumber], [Status]) VALUES (1, N'B3', N'Trống')
INSERT [dbo].[ParkingSlots] ([ParkingSlotId], [SlotNumber], [Status]) VALUES (2, N'B4', N'Trống')
INSERT [dbo].[ParkingSlots] ([ParkingSlotId], [SlotNumber], [Status]) VALUES (3, N'B5', N'Đã sử dụng')
INSERT [dbo].[Tariff] ([TariffId], [TariffName], [Price], [Description]) VALUES (1, N'Gói ngày VIP', CAST(100000.00 AS Decimal(18, 2)), N'Phí gửi xe trong ngày với quyền ưu tiên')
INSERT [dbo].[Tariff] ([TariffId], [TariffName], [Price], [Description]) VALUES (2, N'Gói xe SUV', CAST(1400000.00 AS Decimal(18, 2)), N'Phí gửi xe SUV hàng tháng')
INSERT [dbo].[Tariff] ([TariffId], [TariffName], [Price], [Description]) VALUES (3, N'Gói xe thể thao', CAST(1800000.00 AS Decimal(18, 2)), N'Phí gửi xe thể thao hàng tháng')
INSERT [dbo].[Transactions] ([TransactionId], [VehicleId], [ParkingSlotId], [EntryTime], [ExitTime], [TotalAmount]) VALUES (2, 16, 3, CAST(N'2024-03-21 10:00:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[Transactions] ([TransactionId], [VehicleId], [ParkingSlotId], [EntryTime], [ExitTime], [TotalAmount]) VALUES (3, 7, 5, CAST(N'2024-03-21 12:30:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[Transactions] ([TransactionId], [VehicleId], [ParkingSlotId], [EntryTime], [ExitTime], [TotalAmount]) VALUES (4, 8, 6, CAST(N'2024-03-21 14:00:00' AS SmallDateTime), CAST(N'2024-03-21 16:30:00' AS SmallDateTime), CAST(60000.00 AS Decimal(18, 2)))
INSERT [dbo].[UserPayments] ([Id], [UserId], [TariffId], [PaymentDate], [Amount], [IsPaid]) VALUES (12, 1, 2, CAST(N'2024-03-01 00:00:00' AS SmallDateTime), 200000, 1)
INSERT [dbo].[UserPayments] ([Id], [UserId], [TariffId], [PaymentDate], [Amount], [IsPaid]) VALUES (13, 2, 1, CAST(N'2024-03-05 00:00:00' AS SmallDateTime), 150000, 1)
INSERT [dbo].[UserPayments] ([Id], [UserId], [TariffId], [PaymentDate], [Amount], [IsPaid]) VALUES (14, 3, 3, CAST(N'2024-03-10 00:00:00' AS SmallDateTime), 300000, 1)
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Phone], [Role], [Balance]) VALUES (1, N'Nguyễn Thị F', N'ntf@example.com', N'0932109876', N'User', N'600000')
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Phone], [Role], [Balance]) VALUES (2, N'Lê Quốc G', N'lqg@example.com', N'0921098765', N'User', N'250000')
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Phone], [Role], [Balance]) VALUES (3, N'Hoàng Minh H', N'hmh@example.com', N'0910987654', N'Admin', N'1500000')
INSERT [dbo].[Vehicles] ([VehicleId], [LicensePlate], [UserId], [VehicleTypeId]) VALUES (7, N'51H-88888', 1, 6)
INSERT [dbo].[Vehicles] ([VehicleId], [LicensePlate], [UserId], [VehicleTypeId]) VALUES (8, N'52K-99999', 2, 7)
INSERT [dbo].[Vehicles] ([VehicleId], [LicensePlate], [UserId], [VehicleTypeId]) VALUES (9, N'53L-77777', 3, 8)
INSERT [dbo].[VehicleTypes] ([VehicleTypeId], [TypeName], [DescriptionImage], [Description]) VALUES (1, N'Xe van', N'van.jpg', N'Xe nhỏ có khoang chứa đồ')
INSERT [dbo].[VehicleTypes] ([VehicleTypeId], [TypeName], [DescriptionImage], [Description]) VALUES (2, N'Xe mô tô', N'moto.jpg', N'Xe hai bánh phân khối lớn')
INSERT [dbo].[VehicleTypes] ([VehicleTypeId], [TypeName], [DescriptionImage], [Description]) VALUES (3, N'Xe tải nhẹ', N'light_truck.jpg', N'Xe tải có trọng tải nhỏ')
USE [master]
GO
