@{
    Layout = "~/Views/Shared/_Layout-main.cshtml";
    ViewData["Title"] = "Home Page";
}
@section Hero{
    
    <section id="hero">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style='background-image: url(@Url.Content("~/assets/img/slide1.jpg"));opacity: 0.9;'>
                    <div class="carousel-container">
                        <div class="carousel-content animate__animated animate__fadeInUp">
                            <h2>Tối ưu hóa không gian và <span>giảm ùn tắc</span></h2>
                            <p>
                                - Hệ thống tự động xác định chỗ trống và hướng dẫn tài xế đến vị trí đỗ xe phù hợp, giảm thời gian tìm kiếm chỗ đỗ.<br/>
                                - Hỗ trợ đặt chỗ trước giúp bãi xe hoạt động hiệu quả hơn.
                            </p>
                            <div class="text-center"><a href="" class="btn-get-started">Read More</a></div>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item" style='background-image: url(@Url.Content("~/assets/img/slide2.jpg"));'>
                    <div class="carousel-container">
                        <div class="carousel-content animate__animated animate__fadeInUp">
                            <h2>Nâng cao bảo mật và kiểm soát</h2>
                            
                            <p>
                                - Sử dụng camera nhận diện biển số (ANPR) và thẻ RFID để xác định chính xác phương tiện ra vào.<br/>
                                - Tích hợp giám sát 24/7 giúp phát hiện hành vi gian lận, trộm cắp hoặc vi phạm.
                            </p>
                            <div class="text-center"><a href="" class="btn-get-started">Read More</a></div>
                        </div>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item" style='background-image: url(@Url.Content("~/assets/img/slide3.jpg"));'>
                    <div class="carousel-container">
                        <div class="carousel-content animate__animated animate__fadeInUp">
                            <h2>Tiện lợi và tiết kiệm chi phí</h2>
                            <p>
                                Thanh toán tự động qua ví điện tử, QR code hoặc thẻ từ giúp giảm thời gian xếp hàng chờ thanh toán.<br/>
                                Giảm chi phí nhân sự do hệ thống tự động hóa quản lý bãi đỗ xe.
                            </p>
                            <div class="text-center"><a href="" class="btn-get-started">Read More</a></div>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        </div>
    </section><!-- End Hero -->
}